<section class="contacts">
  <div class="contacts__container">
    <h2 class="is-hidden">Contacts</h2>
    <ul class="contacts__card-list">
      <li class="contacts__card">
        <span>cafe</span>
        <span>chicago</span>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <span>Monday - Friday</span>
        <span>06:00 AM - 10:00 PM</span>
        <span>Saturday - Sunday</span>
        <span>08:00 AM - 16:00 PM</span>
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts__card">
        <span>food truck</span>
        <span>Los Angeles</span>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <span>Monday - Friday</span>
        <span>06:00 AM - 10:00 PM</span>
        <span>Saturday - Sunday</span>
        <span>08:00 AM - 16:00 PM</span>
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts__card">
        <span>cafe</span>
        <span>New York</span>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <span>Monday - Friday</span>
        <span>06:00 AM - 10:00 PM</span>
        <span>Saturday - Sunday</span>
        <span>08:00 AM - 16:00 PM</span>
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
  </div>
</section>
