<header class="header">
  <div class="container header__container">
    <a class="header__logo" href=""
      ><span class="header__logo-item"
        ><svg class="header__logo-icon">
          <use href="../src/images/sprite.svg#logo-icon"></use></svg></span
      >Icecream</a
    >
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item"><a href="">Home</a></li>
        <li class="site-nav__item"><a href="">About us</a></li>
        <li class="site-nav__item"><a href="">How it's made?</a></li>
        <li class="site-nav__item"><a href="">Our products</a></li>
        <li class="site-nav__item"><a href="">Contact</a></li>
      </ul>
    </nav>
    <button class="menu__open-btn" data-menu-open>
      <svg class="menu__open-icon" width="20px" height="12px">
        <use href="./images/sprite.svg#menu-open"></use>
      </svg>
    </button>

    <button class="header__btn" type="button">Buy now</button>
  </div>
</header>
