<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title--accent">passion</span>
      </h1>
      <button class="hero__btn" type="button">Products</button>
      <button class="hero__btn hero__btn--inv" type="button">How it's made?</button>
    </div>

    <div class="hero__numbers">
      <span>16</span>
      <span>cafes</span>
      <span>23</span>
      <span>food trucks</span>
    </div>
    <div class="hero__item">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button">
        <!-- <svg><use href></use></svg> -->
      </button>
    </div>
  </div>
</section>
