<section class="hero">
  <div class="container">
    <div>
      <h1 class="hero__title">ice cream made with passion</h1>
      <button type="button">Products</button>
      <button type="button">How it's made?</button>
    </div>
    <div class="hero__numbers">
      <span>16</span>
      <span>cafes</span>
      <span>23</span>
      <span>food trucks</span>
    </div>
    <div class="hero__item">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button">
        <!-- <svg><use href></use></svg> -->
      </button>
    </div>
  </div>
</section>
